<div class="row">
  <div class="col-md-12">
    <h2>{{department.departmentName}}
      DepartmentName -
      {{department.departmentId}}
      </h2>
    <hr />
    <form method="post" action="/department/update">
      <input
        class="form-control"
        id="employeeNum"
        name="departmentId"
        type="hidden"
        value="{{data.departmentId}}"
      />
      <fieldset>
        <legend>Personal Information</legend>
          <div class="col-md-12">
            <div class="form-group">
              <label for="DepartmentName">First Name:</label>
              <input
                class="form-control"
                id="firstName"
                name="departmentName"
                type="text"
                value="{{data.departmentName}}"
              />
            </div>
          </div>
      </fieldset>
      <hr />
      <input
        type="submit"
        class="btn btn-primary pull-right"
        value="Update Employee"
      /><br /><br /><br />
    </form>
  </div>
</div>