@import url('https://fonts.googleapis.com/css?family=Allerta Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.nav{
    background-color: rgba(7, 71, 245, 0.144);
    font-family: "Allerta Stencil", Georgia, 'Times New Roman', Times, serif
}

p{
    font-family: "Robo", Georgia, 'Times New Roman', Times, serif
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    color: orange;
}

body{
    background-color: rgb(248, 248, 229);
}
